@media (max-width:1147px){
    .marketing-cont{
        padding: 80px 80px !important;
        padding-top: 100px !important;
        height: auto !important;
    }
    .marketing-cards{
        padding: 20px 0 !important;
    }
    .marketing-card-holder{
        padding-top: 20px !important;
    }
}
@media (max-width:1082px){
    .marketing-cont{
        padding: 70px 60px !important;
    }
}
@media (max-width:1065px){
    .marketing-cont{
        padding: 60px 30px !important;
    }
    .market-header{
        width: 100% !important;
        height: auto;
    }
}
@media (max-width:981px){
    .market-header h1{
        font-size:38px !important;
    }
    .marketing-card-holder h4{
        font-size: 16px !important;
    }
}
@media (max-width:766px){
    .marketing-cont{
        height: auto !important;
    }

    .marketing-cards{
        padding: 10px 0 !important;
    }
}
@media (max-width:834px){
    
    .marketing-cards small{
        font-size: 13px !important;
    }
    .marketing-cards h4{
        font-size: 15px !important;
    }
}
@media (max-width:722px){
    
    .marketing-cards small{
        font-size: 10px !important;
    }
    .marketing-cards h4{
        font-size: 13px !important;
        padding: 5px 0 !important;
    }
}
@media (max-width:695px){
    
    .marketing-cards small{
        font-size: 10px !important;
    }
    .marketing-cards h4{
        font-size: 11px !important;
        padding: 5px 0 !important;
    }
}
@media (max-width:630px){
    .marketing-card-holder{
        flex-direction: column !important;
        align-items: center;
        justify-content: center !important;
    }
    .marketing-cards{
        min-width: 100% !important;
    }
    .marketing-cards small{
        font-size: 16px !important;
    }
    .marketing-cards h4{
        font-size: 20px !important;
        padding: 15px 0 !important;
    }
    .market-header h1{
        font-size: 30px !important;
    }
}

@media (max-width:472px){
    .market-header h1{
        font-size: 26px !important;
    }
    .market-header p{
        font-size: 14px !important;
    }
    .marketing-card-img{
        max-width: 100% !important;
    }
    .marketing-cards{
        min-width: 100% !important;
        max-width: 100% !important;
        width: 100% !important;
    }
    .marketing-cards small{
        font-size: 13px !important;
    }
    .marketing-cards h4{
        font-size: 16px !important;
    }
}
/* @media (max-width:400px){

    .market-header p{
        font-size: 14px !important;
    }
} */