@media (max-width:1147px){
    .footer-cont{
        padding: 60px 80px !important;
    }
}
@media (max-width:1082px){
    .footer-cont{
        padding: 60px 60px !important;
    }
}
@media (max-width:1065px){
    .footer-cont{
        padding: 60px 30px !important;
    }
}
@media (max-width:941px){
    .footer-cont{
        flex-wrap: wrap;
        align-items: center !important;
        justify-content: center !important;
    }
    .footer-contact-form{
        margin-top: 40px;
        min-width: 100% !important;
    }
    .footer-logo{
        width: 100%;
        margin-bottom: 20px;
    }
    .footer-logo img{
        width: 150px;
    }
    .quick-links, .legal-links{
        padding: 5px 100px !important;
    }
    .copyright small{
        font-size: 12px;
    }
}

@media (max-width:695px){
    .quick-links, .legal-links{
        padding: 5px 50px !important;
    }
    .footer-icon span{
        width: 30px !important;
        height: 30px !important;
        margin: 0px !important;
        font-size: 20px !important;
    }
}
@media (max-width:600px){
    .copyright{
        flex-direction: column;
    }
    .footer-icon span{
        width: 50px !important;
        height: 50px !important;
        margin: 3px !important;
        font-size: 24px !important;
    }
    .copyright small{
        font-size: 14px;
    }
    
}
@media (max-width:495px){
    .quick-links, .legal-links{
        padding: 5px 0 !important;
    }
    .footer-cont{
        flex-wrap: wrap;
        align-items: center !important;
        justify-content: space-between !important;
    }
    
}
@media(max-width:375px){
    .footer-contact-form h3{
        font-size: 18px !important;
    }
    .footer-contact-form span {
        width: 100% !important;
    }
    .legal-links label, .quick-links label{
        font-size: 14px !important;
    }
    .footer-contact-form span{
        font-size: 13px;
    }
}